 .tab {
    background-color: #f1f1f1;
  }
    
.tab button {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
}
  
.tab button:hover, .tab button.active {
    background-color: #666;
    color: white;
}

label {
    display: inline-block;
    width: 100px;
    text-align: left;
}

form {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: sans-serif;
} 

button {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: sans-serif;
}